# ==========================
# Terraform
# ==========================
**/.terraform/
*.tfstate
*.tfstate.*
*.tfplan
crash.log

# ==========================
# Local MinIO data
# ==========================
**/minio-data/

# ==========================
# Sensitive files
# ==========================
*.pem
*.key

# ==========================
# Operating System files
# ==========================
.DS_Store